body {
  margin: 0;
  padding: 0;
  background-color: bisque; /* Set your desired background color */
}

.container {
  display: flex;
  flex-direction: row; /* Arrange items in a row */
  justify-content: space-around; /* Space them evenly along the main axis */
  align-items: center; /* Center them along the cross axis */
  padding: 80px;
  max-width: 1200px; /* Set your desired maximum width */
  margin: 0 auto; /* Center the container */
}



.item {
  text-align: center;
  margin: 20px;
  display: flex;
  flex-direction: column; /* Arrange items in a column */
  align-items: center; /* Center items along the cross axis */
}

.image {
  width: 420px; /* Set your desired image width */
  border-radius: 80%; /* To make the image circular */
}

.name {
  font-size: 24px; /* Set your desired font size */
  font-weight: bold;
}
